body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.containerWord {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#btnGen {
    font-size: 25px;
    background: none;
    border: none;
    color: rgb(105, 189, 22);
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
}

.title {
    font-family: 'DynaPuff', cursive;
    color: goldenrod;
}

.btnLetter {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    font-family: 'Silkscreen', cursive;
    font-size: 25px;
    background: none;

}

.keyboard {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("/asset/img/vecteezy_rev1_watercolor-background_fa0321-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.keyboardResize {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;
}

.pictureLife {
    display: flex;
    justify-content: center;
}

.containerLife {

    margin-right: 2rem;
}

.fa-heart {
    font-size: 30px;
    color: #e60909;
    text-shadow: -1px 1px 8px #f0494c;
    margin-left: 0.5rem;

}

#wordGen {
    font-size: 30px;
    font-family: 'DynaPuff', cursive;
}

.containerLife {
    font-size: 30px;
}

.hidden {
    display: none;
}

.display {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

}
